@font-face {
  font-family: 'SF Pro Display';
  src: url('https://cdn.glitch.global/69f8f06e-65ba-408a-8b25-1c397c7a86db/SF-Pro-Display-Light.otf?v=1739296515501') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('https://cdn.glitch.global/69f8f06e-65ba-408a-8b25-1c397c7a86db/SF-Pro-Display-Regular.otf?v=1739296560122') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('https://cdn.glitch.global/69f8f06e-65ba-408a-8b25-1c397c7a86db/SF-Pro-Display-Medium.otf?v=1739296542516') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('https://cdn.glitch.global/69f8f06e-65ba-408a-8b25-1c397c7a86db/SF-Pro-Display-Semibold.otf?v=1739296570227') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('https://cdn.glitch.global/69f8f06e-65ba-408a-8b25-1c397c7a86db/SF-Pro-Display-Bold.otf?v=1739296472538') format('opentype');
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: yellow;
  font-family: 'SF Pro Display', sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

body, a {
  cursor: none;
}

.nav-gradient {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 5;
  pointer-events: none;
}

.nav-gradient.top {
  top: 0;
  background: linear-gradient(to bottom, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 0.15) 75%, rgba(242, 242, 242, 0) 100%);
}

.nav-gradient.bottom {
  bottom: 0;
  background: linear-gradient(to top, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 0.15) 75%, rgba(242, 242, 242, 0) 100%);
}

header {
  position: fixed;
  width: 100%;
  pointer-events: none;
  z-index: 10;
}

.corner {
  position: fixed;
  font-size: 1.5rem;
  pointer-events: auto;
}

.top-left { top: 20px; left: 20px; }
.top-right { top: 20px; right: 20px; }
.bottom-left { bottom: 20px; left: 20px; }
.bottom-right { bottom: 20px; right: 20px; }

a {
  text-decoration: underline;
  color: blue;
}

a:hover {
  color: yellow;
  text-decoration: none;
}

#custom-cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  background: transparent;
  color: rgb(0, 0, 255);
  font-size: 50px;
  pointer-events: none;
  z-index: 1000;
  transform: translate(-50%, -50%);
}

#custom-cursor.emoji {
  width: 35px;
  height: 35px;
  font-size: 35px;
  transform: translate(-50%, -50%);
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: .05vw;
  margin-bottom: 8vw;
}

.video-container {
  position: relative;
  width: 100%;
}

.video-container video {
  width: 100%;
  height: auto;
  display: block;
}

.project-text {
  position: absolute;
  bottom: 8%;
  left: 5%;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.project-label {
  font-size: 1.1vw;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0vw;
}

.project-title {
  font-size: 5vw;
  font-weight: normal;
  max-width: 90vw;
  margin-bottom: 2vw;
}

.project-categories {
  display: flex;
  gap: 0.6vw;
  margin-top: 1vw;
}

.category {
  font-size: clamp(0.6vw, 1vw, 1.2vw);
  font-weight: bold;
  text-transform: uppercase;
  border: 0.15vw solid white;
  padding: 0.4vw 0.8vw;
  border-radius: 1.5vw;
}

.project-description {
  position: absolute;
  bottom: 8%;
  right: 4%;
  font-size: 1.6vw;
  line-height: 2vw;
  max-width: 40vw;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 0;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

.image-wrapper-extra {
  background-color: #B6DADF;
  padding: 1.5vw;
  padding-bottom: 2.7vw;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  position: relative;
}

.extra-video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 2vw;
}

.video-block {
  width: 45%;
  position: relative;
}

.project-subtitle {
  font-size: 1.1vw;
  margin-bottom: 2vw;
  line-height: 1.2vw;
}

.unmute-prompt {
  font-size: 0.9vw;
  color: black;
  position: absolute;
  left: 85%;
  text-align: right;
  margin-top: .5vw;
}
